<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C354FCE-46BB-410C-8D88-697BC37F8128</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D88474D8-A67C-446D-A55D-6A31224134F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12039A38-FF58-40BD-9DDB-B4D386D29C10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27299810-09A2-4245-ADBB-C293C20FF4BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FB03E47-2FA9-4087-9A30-22FA0AC6F5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C286DCA-489E-4CB1-AFFF-13B4C91CBF3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D88474D8-A67C-446D-A55D-6A31224134F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB606AC1-69F3-4C72-9B2F-BD58A5B98CD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB606AC1-69F3-4C72-9B2F-BD58A5B98CD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FB03E47-2FA9-4087-9A30-22FA0AC6F5EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFE1749C-A7E3-4BE0-883D-C19C99C56D83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12039A38-FF58-40BD-9DDB-B4D386D29C10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Launch Applications for Different Scenarios</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>@10up</string>
				<key>subtext</key>
				<string>Open 10up Apps and Websites</string>
				<key>text</key>
				<string>Launch 10up</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C354FCE-46BB-410C-8D88-697BC37F8128</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
					<string>/Applications/Harvest.app</string>
					<string>/Applications/zoom.us.app</string>
					<string>/Applications/Docker.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D88474D8-A67C-446D-A55D-6A31224134F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gmail.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7FB03E47-2FA9-4087-9A30-22FA0AC6F5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://calendar.google.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FB606AC1-69F3-4C72-9B2F-BD58A5B98CD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://tenup.teamwork.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C286DCA-489E-4CB1-AFFF-13B4C91CBF3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/jjgrainger/ohthatsnice/issues</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12039A38-FF58-40BD-9DDB-B4D386D29C10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://ohthatsnice.net</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>27299810-09A2-4245-ADBB-C293C20FF4BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>@nice</string>
				<key>subtext</key>
				<string>Launch Apps and Websites</string>
				<key>text</key>
				<string>Launch Oh That's Nice</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FFE1749C-A7E3-4BE0-883D-C19C99C56D83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0C354FCE-46BB-410C-8D88-697BC37F8128</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>12039A38-FF58-40BD-9DDB-B4D386D29C10</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>27299810-09A2-4245-ADBB-C293C20FF4BD</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>6C286DCA-489E-4CB1-AFFF-13B4C91CBF3B</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7FB03E47-2FA9-4087-9A30-22FA0AC6F5EE</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D88474D8-A67C-446D-A55D-6A31224134F6</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FB606AC1-69F3-4C72-9B2F-BD58A5B98CD8</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FFE1749C-A7E3-4BE0-883D-C19C99C56D83</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
